@import '../../sass/abstracts/variables', "../../sass/layout/media-queries.scss";

.text-box {
  display: flex;
  flex-direction: column;
  line-height: 22px;
  margin-bottom: .5rem;

  // @include mobileSm {
  //     padding: .4rem 0;
  // }
}

.span-1 {
  color: $white;
  font-family: $spaceMono;

  @include mobileMed {
    font-size: 1.2rem;
  }
}

.span-2 {
  color: $darkerGrayCyan;
  font-family: $spaceMono;

  // @include mobileMed {
  //   font-size: 1.2rem;
  // }
}

.tip-amount {
  color: $strongCyan;
  font-size: 1.5rem;
  padding-top: .2rem;
  font-family: $spaceMonoBold;

  @include mobileMed {
    font-size: 1.5rem;
  }
}
