@import '../../sass/abstracts/variables';

.text-box {
  display: flex;
  flex-direction: column;
  line-height: 22px;
  margin-bottom: .5rem;
}

.span-1 {
  color: $white;
  font-family: $spaceMono;
}

.span-2 {
  color: $darkerGrayCyan;
  font-family: $spaceMono;
}

.tip-amount {
  color: $strongCyan;
  font-size: 1.5rem;
  padding-top: .2rem;
  font-family: $spaceMonoBold
}
