@import '../../sass/abstracts/variables', "../../sass/layout/media-queries.scss";

.text-box {
  display: flex;
  flex-direction: column;

  @include mobileMd {
    margin-bottom: 1rem;
  }
}

.tip-total {
  font-size: 1.5rem;
  color: $strongCyan;
  padding-top: .2rem;
  font-family: $spaceMonoBold;
}

.span-1 {
  color: $white;
  font-family: $spaceMono;

  @include mobileMd {
    font-size: 1rem;
    // padding: .4rem 0;
  }
}

.span-2 {
  color: $darkerGrayCyan;
  font-family: $spaceMono;
}
