@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../../assets/fonts/spacemono-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Space Mono Bold';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url('../../assets/fonts/spacemono-bold-webfont.woff2') format('woff2');
}
