@import './abstracts/_variables', './base/fonts', './base/reset', "./layout/media-queries.scss";

body {
  background-color: $primaryBackground;
  font-family: $spaceMono;
  overflow-y: hidden;
}

.content-container {
  background-color: $white;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.main-container {
  width: 84%;
  margin: auto;
}

.total-container {
  width: 86%;
  border-radius: 10px;
  margin: .4rem auto;
  background-color: $darkCyan;
  display: block;

  @include mobileMd {
    margin-top: .8rem;
    // padding: .45rem;
  }
}

.tip-per-container {
  display: flex;
  justify-content: space-between;
}

.inner-container {
  width: 90%;
  margin: auto;
  padding: 1rem .5rem;

  @include mobileMd {
    padding: 1.4rem .5rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.spacer {
  height: 1rem;
  width: 100%;
  display: none;
  background-color: $white;

  @include mobileLg {
    display: block;
  }
}
