@import './abstracts/_variables', './base/fonts', './base/reset';

body {
  background-color: $primaryBackground;
  font-family: $spaceMono;
  overflow-y: hidden;
}

.content-container {
  background-color: $white;
  padding: 0;
  width: 100vw;
  height: 100vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.main-container {
  width: 84%;
  margin: auto;
}
