@import '../../sass/abstracts/variables', "../../sass/layout/media-queries.scss";

.percent-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  input {
    width: 46%;
    color: $darkCyan;
    background-color: $lightGrayCyan;
    border: 0;
    outline: 0;
    border-radius: 5px;
    text-align: right;
    font-family: $spaceMonoBold;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    top: 1px;
    height: 35px;

    &:focus {
      border-color: $strongCyan;
    }

    &::placeholder {
      margin-right: .5rem;
    }

    @include mobileXl {
      height: 2.5rem;
    }

    @include desktopSm {
      width: 26%;
   }
  }
}

.buttons {
  margin-bottom: .5rem;
  width: 46%;
  color: $white;
  background-color: $darkCyan;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-family: $spaceMono;
  cursor: pointer;
  padding: .6rem 0;

  @include mobileXl {
    font-size: 1.2rem;
    padding: .7rem 0;
    margin-bottom: .6rem;
  }

  @include desktopSm {
    width: 26%;
  }
}

.select-header {
  color: $darkerGrayCyan;
  font-family: $spaceMonoBold;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin-top: .5rem;
  display: block;
}

.selected-percent {
  background-color: $strongCyan;
  color: $darkCyan;
  font-family: $spaceMonoBold;
}
