@import '../../sass/abstracts/variables', "../../sass/layout/media-queries.scss";


.percent-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

    input {
    padding: .4rem 0;
    margin: .2rem 0;
    width: 46%;
    color: $darkCyan;
    background-color: $lightGrayCyan;
    border: 0;
    outline: 0;
    border-radius: 5px;
    text-align: right;
    font-family: $spaceMonoBold;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    top: 3px;

    &:focus {
      border-color: $strongCyan;
    }

    &::placeholder {
      margin-right: .5rem;
    }

    @include mobileMd {
      padding: .5rem 0;
      font-size: 1.2rem;
    }
  }
}

.buttons {
  padding: .4rem 0;
  margin: .2rem 0;
  width: 46%;
  color: $white;
  background-color: $darkCyan;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-family: $spaceMono;
  cursor: pointer;

  @include mobileMd {
    font-size: 1.2rem;
    padding: .6rem 0;
    margin: .3rem 0;
  }
}

.select-header {
  color: $darkerGrayCyan;
  font-family: $spaceMonoBold;
  padding-top: .7rem;
  padding-bottom: .7rem;
  display: block;

  @include mobileMd {
    padding-top: 1rem;;
  }
}

.selected-percent {
  background-color: $strongCyan;
  color: $darkCyan;
  font-family: $spaceMonoBold;
}
