@import "../../sass/abstracts/variables", "../../sass/layout/media-queries.scss";

.person-input-container {
  margin-top: .3rem;

  @include mobileSm {
    padding-top: .7rem;
  }

  @include mobileLg {
    padding-bottom: .5rem;
  }
}

.person-text-box {
  padding-bottom: .5rem;
  padding-top: .5rem;
  display: flex;
  justify-content: space-between;

  // @include mobileMed {
  //   padding-top: .2rem;
  // }

  // @include mobileLg {
  //   padding-top: .5rem;
  //   padding-bottom: .8rem;
  // }
}

.person-text {
  color: $darkCyan;
  font-family: $spaceMonoBold;
  font-size: .9rem;

  // @include mobileMed {
  //   font-size: 1.3rem;
  // }

  // @include mobileLg {
  //   font-size: 1.2rem;
  // }

  // @include mobileXl {
  //   font-size: 1.3rem;
  // }
}

.person-input-box {
  position: relative;
}

.person-input {
  width: 100%;
  height: 2.2rem;
  // padding: 1.5rem .7rem;
  padding: .7rem .7rem;
  background-color: $lightGrayCyan;
  font-family: $spaceMonoBold;
  font-size: 1rem;
  color: $darkCyan;
  text-align: right;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;

  &:focus {
    border-color: $strongCyan;
  }

  // @include mobileSm {
  //   font-size: 1.2rem;
  //   height: 2.5rem;
  //   padding: 1.3rem .7rem;
  // }

  // @include mobileMed {
  //   // padding: 1.3rem .7rem;
  //   font-size: 1.4rem;
  // }

  // @include mobileXl {
  //   height: 2.8rem;
  // }
}

.person-svg {
  position: absolute;
  left: 10px;
  top: 25%;

  @include mobileSm {
    top: 29%;
  }
}


.error-text {
  font-size: .9rem;
  color: firebrick;
  margin-left: .4rem;
}

.display-none {
  display: none;
}

.person-input-error {
  &:focus {
    border-color: firebrick;
  }
}
