@import "../../sass/abstracts/variables";

.person-text-box {
  padding-bottom: .5rem;
  // padding-top: 2.3rem
  padding-top: .5rem;
}

.person-text {
  color: $darkCyan;
  font-family: $spaceMonoBold;
  font-size: .9rem;
}

.person-input-box {
  position: relative;
}

.person-input {
  width: 100%;
  height: 2.5rem;
  // padding: 1.5rem .7rem;
  padding: .7rem .7rem;
  background-color: $lightGrayCyan;
  font-family: $spaceMonoBold;
  font-size: 1rem;
  color: $darkCyan;
  text-align: right;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;

  &:focus {
    border-color: $strongCyan;
  }
}

.person-svg {
  position: absolute;
  // top: 13px;
  top: 11px;
  left: 10px;
}


.error-text {
  font-size: .9rem;
  color: firebrick;
  margin-left: .4rem;
}

.display-none {
  display: none;
}

.person-input-error {
  &:focus {
    border-color: firebrick;
  }
}
