@import '../../sass/abstracts/variables', '../../sass/layout/media-queries';

header {
  // padding: 1.2rem 0;
  padding: .8rem 0;
  background-color: $primaryBackground;
}

.header-text {
  // font-size: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: 'Space Mono Bold';
  // color: $darkCyan;
  color: green;
  width: 100%;
  display: block;
}
