@import '../../sass/abstracts/variables', '../../sass/layout/media-queries';

header {
  padding: .9rem 0;

  @include mobileMd {
    padding: 1.2rem 0;
  }
}

.header-text {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: 'Space Mono Bold';
  color: $darkCyan;
  width: 100%;
  display: block;
}

header span:nth-child(1)  {
  padding-bottom: 0.4rem;
}
